<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title><%= title %></title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/Navigation-Clean.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
      <div class="container">
        <a class="navbar-brand" href="/" style="font-size: 36px;">BAYANETWORK</a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navcol-1"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="/" style="font-size: 36px;">GL</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="/M1" style="font-size: 36px;"
                >M1</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="/M2" style="font-size: 36px;">M2</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if (message) { %>
      <p class="text-center text-danger"><%= message %></p>
      <% } %> 
      <div class="table-wrapper">
        <% if (results.length > 0) { %>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Total Complete Orders</th>
                        <th scope="col">Total Sales</th>
                    </tr>
                </thead>
                <tbody>
                    <% results.forEach((info, index) => { %>
                        <tr>
                            <th scope="row"><%= info.DAY %></th>
                            <td><%= info.TOTAL_COMPLETED_ORDER %></td>
                            <td><%= info.TOTAL_AMOUNT %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
      <% } else { %>
      <p class="text-center">
        No Results. Go <a href="reportRes">here</a> to search again.
      </p>
      <% } %>

    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
